.flowContainer{
    width: 75%;

    display: flex;
 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #F6F6FA;
    
}
<<<<<<< HEAD
@media only screen and (max-width: 600px) {

    .flowContainer{
        width: 100%;
    }
    
  }
  
=======

@media only screen and (max-width: 600px) {
    .flowContainer{
  
      width: 100%;
    }
  
  }
>>>>>>> 7d5757ffa42fcd05aed2c7093812028acd130a62
