.profileMiddle{
    width: 90%;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
-webkit-box-flex: 1;
flex-grow: 1;
    

}
