.homeContainer{
width: 100%;
height: 100%;

background-color: white;
max-width: 100vw;
border-radius: 20px;
display: flex;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
-webkit-box-flex: 1;
flex-grow: 1;
position: relative;

}


.container{
    width: 100vw;
    height: 100vh;
    padding: 2% 2%;
    position: relative;
    background: rgb(104,205,252);
    background: linear-gradient(90deg, rgba(104,205,252,1) 0%, rgba(239,157,220,1) 48%, rgba(255,191,124,1) 100%);
}

@media only screen and (max-width: 600px) {
    .container{
  
      padding: 0;
    }
  
  }


@media only screen and (max-width: 600px) {

    .container{padding: 0;}
    .homeContainer{border-radius: 0;}
}
